*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
}

.container{
    padding: 0.8rem 0 0.8rem 0;
    margin: 0 0.8rem 0 0.8rem;
}

.content{
    margin-bottom: 0.4rem;
    font-size: 2rem;
}

.label{
    background-color: #d95925;
    color: #fff;
    padding: 1.2rem 0 1.2rem 0;
}

.content p{
    padding: 1.2rem;
    display: none;
    line-height: 1.5;
}

.content label{
    cursor: pointer;
    padding: 1.2rem;
}

.label>label>.fa-minus{
    display: none;
}

#toggle1:checked ~ p, #toggle1:checked ~ div>label>.fa-minus{
    display: inline-block;
}

#toggle1:checked ~ div>label>.fa-plus{
    display: none;
}

#toggle2:checked ~ p, #toggle2:checked ~ div>label>.fa-minus{
    display: inline-block;
}

#toggle2:checked ~ div>label>.fa-plus{
    display: none;
}

#toggle3:checked ~ p, #toggle3:checked ~ div>label>.fa-minus{
    display: inline-block;
}

#toggle3:checked ~ div>label>.fa-plus{
    display: none;
}