*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
}

#services{
    padding-top: 2rem;
}

.margin-left-right{
    margin: 0 2rem 0 2rem;
    align-items: center;
}

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.services-header{
    text-align: center;
    margin-bottom: 4rem;
    line-height: 1.5;
}

.services-header p{
    font-size: 0.8rem;
}

.services-content{
    display: flex;
    justify-content: space-between;
}

.content{
    display: inline-block;
    width: 31%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 2rem;
    text-align: center;
    line-height: 1.5;
}

.content-icon{
    border: 1px solid #f2a93b;
    padding: 1.5rem;
    border-radius: 50%;
    width: 40%;
    margin: 0 auto 0 auto;
    color: #f2a93b;
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
}

.content-title{
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.content-description{
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
    color: rgba(0,0,0,0.5);
}


.content-btn a{
    color: #fff;
    text-decoration: none;
    background-color: #f2a93b;
    padding: 0.7rem 1.4rem 0.7rem 1.4rem;
    font-size: 0.8rem;
}