* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.player {
    width: 80%;
    margin: 30px auto;
}

.player .play-action {
    text-align: center;
}

.player .play-action i {
    font-size: 1.5rem;
    cursor: pointer;
}

.player .play-timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    user-select: none;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: gray;
    position: relative;
    cursor: pointer;
}

.progress-bar:hover {
    background-color: aqua;
}

.progress-bar .progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    background-color: red;
}

.progress-bar .progress span {
    position: absolute;
    top: -1px;
    right: -6px;
    width: 12px;
    height: 12px;
    background-color: blueviolet;
    border-radius: 50%;
}

.hover-current-time {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 0.6rem;
    display: none;
    position: absolute;
    translate: -50% -120%;
    padding: 1px 2px;
}
