*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.btn{
    background-color: #ddd;
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    background-color: #00000071;
    transition: 0.3s linear;
    transition-property: opacity, visibility;
}

.modal-container{
    background-color: #fff;
    top: 0;
    width: 200px;
    height: 100%;
    padding: 20px;
    position: absolute;
    z-index: 1;
    right: 100%;
    transition: right 0.3s linear;
}

#check:checked ~ .overlay{
    visibility: visible;
    opacity: 1;
}

#check:checked ~ .modal-container{
    right: calc(100% - 200px);
}