// Định nghĩa @mixin

@mixin section-title{
    .section-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px 0 40px;
        h3{
            font-size: 2.4rem;
            width: 80%;
            margin-bottom: 16px;
            font-weight: 800;
        }
        p{
            font-size: 1.4rem;
            width: 70%;
        }
    }
}